@use 'sass:color';

$bar-color: #0fa711;
$text-color: #333;
$link-color: #3498db;
$background-color: #f4f4f4;

@mixin bar-style($bg-color, $txt-color) {
    background-color: $bg-color;
    color: $txt-color;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

a {
    color: $link-color;
}

header {
    @include bar-style($bar-color, $text-color);
}

footer {
    @include bar-style(color.adjust($bar-color, $lightness: -5%), $text-color);
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

section {
    flex: 1 1 calc(33.33% - 20px); /* Aby każdy section zajmował 1/3 szerokości, z odstępem */
    background-color: $background-color;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section:hover {
    background-color: color.adjust($background-color, $lightness: -40%);
    @media (min-width: 800px) {
        background-color: color.adjust($background-color, $lightness: -10%);
    }
}

.map-section {
    @media (max-width: 800px) {
        display: none;
    }
    h2, p {
        text-align: center;
    }

    img {
        max-width: 100%;
        margin: 0 auto; 
        display: block; 
    }
}
